body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;

}

a {
    text-decoration: none;
    color: #000;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.card img {
    height: 300px;
    width: 300px;
}